.management-title{
	background-color: white;
	font-size: 1.2em;
	padding:2% 0;
	text-align: center;
	color: #737980;
	cursor: pointer;
}
.border-div{
	border-right:1px solid #CCCCCC ;
}
.progress-div{
	height:2px;
	background-color:#1f84e1 ;
}
.active{
	color:#1f84e1 ;
}
.add-div{
	text-align: center;
	padding:2% 0;
	cursor: pointer;
}
.add-div span{
	font-weight:900 ;
}
.card-content{
	background-color: white;
	margin-top:2%;
	display: none;
}
.card-content a{
	display: block;
	color: black;
}
@media only screen and (min-width: 100px) and (max-width: 640px) {
	.management-title{
		padding: 5% 0;
	}
	.add-div{
		padding:5% 0;
	}
	.card-content{
		margin-top:10%;
	}
}