.rate-show{
	background-color:#1f84e1;
	padding-top: 5%;
	text-align: center;
}
.rate-show p{
	color: white;
	font-size: 1.2em;
	padding-bottom:3%;
}
.rate-money{
	font-size:3em !important;
	font-weight: 600;
}
.rate-hint{
	font-size: 1em !important;
	color: #b8e7f7 !important;
}
.rate-title{
	padding: 3%;
	font-size: 1.2em;
	background-color: white;
	margin-bottom: 0;
}
.rate-list{
	padding:2%;
}
.rate-aisle-name{
	font-size: 1.2em;
	color: black;
	line-height: 88px;
	font-weight:400;
}
.rate-number span{
	color: #747a80;
	float: right;
	line-height:88px;
	font-size: 2em;
}
.rate-number-pdiv{
	float: right;
	text-align: right;
	padding-right: 10px;
}
.mui-table-view-cell>a:not(.mui-btn).mui-active{
	background-color:transparent;
}
.rate-number-pdiv p{
	font-size: 1.3em;
	color: #73798b;
	line-height: 2em;
}
.rate-number-color{
	color: #ee486f !important;
	font-weight:700;
}
@media only screen and (min-width: 100px) and (max-width: 640px) {
	.rate-show{
		padding-top:10%;
	}
	.rate-show p{
		padding-bottom:8%;
	}
	.rate-title{
		padding:5%;
	}
	.rate-list{
		padding:5%;
	}
}
