*{
	padding: 0;
	margin: 0;
	list-style: none;
}
body{
	background-color: #f5f5f5;
}
.personal-title{
	background-color:#1f84e1;
}
.personal-title-content{
	width: 90%;
	margin: 0 auto;
	padding-top:5%;
	overflow: hidden;
}
.user-img img{
	width: 100px;
	height: 100px;
	border-radius:50% ;
}
.user-img{
	text-align: center;
}
.user-msg{
	padding-top:2%;
}
.user-msg h3,span{
	color: white;
	font-size:1.5em;
}
.user-msg p{
	color: white;
	font-size:1.5em;
}
.user-msg span{
	color:#b0d2f1;
}
.move-span{
	display: inline-block;
	float: right;
	margin-top: 45%;
}
.personal-msg{
	padding-bottom: 5%;
}
.personal-title-ul{
	width: 100%;
	overflow: hidden;
	text-align: center;
	padding-bottom:5%;
}
.personal-title-ul li{
	float: left;
	width:33%;
	border-right: 1px solid white;
}
.personal-title-ul li:last-of-type{
	border: none;
}
.personal-title-ul li p{
	font-size: 1.2em;
	color: white;
}
.personal-title-ul li span{
	font-size: 1.2em;
	color: #acc9f1;
}
.personal-list-content{
	border-top:15px solid #f5f5f5;
}
.personal-list-content ul li img{
	vertical-align: middle;
}
.personal-list-content ul li{
	padding:3% 0 3% 7%;
	font-size: 1.2em;
	letter-spacing:0.1em;
}
.personal-list-content ul li span{
	color:#797f86;
	float: right;
	font-weight: 800;
	line-height: 1.2em;
}
.personal-list-content ul li b{
	float: right;
	color: #747a81;
	font-weight: 100;
	line-height: 1.4em;
}
.personal-list-content ul a{
	display: block;
	color: black;
	border-bottom:1px solid #f1f1f1 ;
}
.padding-div{
	padding-bottom:15%;
}
.return-pic{
	position: fixed;
	bottom: 10%;
	left: 0;
}
.personal-title{
	cursor: pointer;
}
@media only screen and (min-width: 100px) and (max-width: 640px) {
	.user-msg{
		padding-top:4%;
	}
	.move-span{
		margin-top:100%;
	}
	.padding-div{
		padding-bottom:45%;
	}
}
@media only screen and (min-width: 1200px) {
	.user-msg{
		padding-top:1%;
	}
	.move-span{
		margin-top:25%;
	}
}