.return-a{
	color: black;
}
.service-title{
	background-color:#5ba3dc;
	color: white;
	text-align: center;
	padding: 3% 0;
}
.form-margin{
	margin-top: 2%;
}
.verification-input{
	float: left !important;
	width: 45% !important;
}
.text-input{
	padding-right:1% !important;
}
.verification-span{
	display: inline-block;
	line-height:2.4em;
	color: #80a4ae;
}
.btn-css{
	width: 90%;
	padding:1% 0;
	margin-left: 5%;
	font-size: 1.3em !important;
	font-weight: 200;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #cccccc;
	color: white;
}