.no-record{
	text-align: center;
	padding-top: 20%;
	padding-bottom: 5%;
}
.no-record p{
	font-size: 1em;
	margin-bottom: 5%;
}
.record-btn{
	padding:2% 5%;
	font-size: 1em;
	cursor: pointer;
}
@media only screen and (min-width: 100px) and (max-width: 640px) {
	.record-btn{
		padding: 3% 8%;
	}
}